.navBar{
    background-color: #025969;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 10px;
    top:-10px ;
   
} 

.navBarLi{
    list-style: none;
    display: flex;
    padding: 15px;
    justify-content: end;  
}


.navBarLink{
    /* text-decoration: none;
    color: white;
    padding: 7px;
    border-color: black;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    margin: 5px; */
    color: white;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.navBarLink:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.body{
    background-color: #F0FBFF;
    min-height: 100vh;
}

.logo{
    width: 50px; /* Establece el ancho de la imagen en 100 píxeles */   
}
.formDiv{
    width: 596px;
    height: 698px;
    left: 422px;
    top: 209px;
    background: rgba(0, 0, 0, 0.44);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    margin-left: 30%;
    margin-top: 5%;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs{
    position: relative;
    font-family: "DM Serif Display";
    width: 450px;
    height: 2em;
    border-radius: 10px;
    background-color: white; 
    margin-left: 60px; 
}

.textArea{
    position: relative;
    font-family: "DM Serif Display";
    width: 85%;
    height: 4em;
    border-radius: 10px;
    background-color: white; 
    margin-left: 60px

}

.labels{
    color: white;
    font-family: "DM Serif Display";
    font-size: 20px;
    margin-left: 60px;
}

.boton{
     font-family: "DM Serif Display";
    font-size: 20px;
    width: 50%;
    color: white;
    height: 40px;
    margin-top: 40px;
    margin-left: 150px;
    border-radius: 10px;
    background-color: #025969;
    box-shadow: 5px 5px 5px black;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}


.boton:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
        
    .formDiv {
      flex-direction: row;
      justify-content: center;
      width: 90%;
      margin-left: 5%;
    }
  
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-right: 2em;
    }
  
    .inputs, .textArea {
      width: 100%;
      max-width: 400px;
      margin-right: 1em;
      margin-left: 20px;
    }
  
    .boton {
      width: 100%;
      max-width: 200px;
      margin-top: 1em;
      margin-left: auto;
      margin-right: 0;
    }
  
}